/****************** 
  Header
******************/

#head{
  left: 0;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
  border-bottom: 1px solid rgba(165, 165, 165, 0.795);
}

.container {
  @include flex-center-center(row, flex-start, center);
  padding: 0 5px;
  margin: 0 auto;

  .hamburger{
    margin: 0 20px;
    font-size: 20px;
    color: $grey;
  }

  .header-left {
    @include flex-center-center(row, flex-start, center);
    height: 55px;
    img {
      width: 80px;
      margin-right: 5px;
      vertical-align: bottom;
    }
    a{
      @include reset-a;
      font-size: 20px;
    }
  }
}

.header-right {

  display: none;

  ul {
    @include reset-list;
    display: none;
    
    li {
      display: inline-block;
      margin: 0 0 0 20px;
    }

    a {
      font-weight: normal;
    }
  }
}//fine header right



.hamburger-menu {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  background: rgba(0, 0, 0, 0.466);

  .menu{
    width: 350px;
    height: 100vh;
    background: white;

    .logo{

      @include flex-center-center(row, flex-start, center);
      height: 55px;
      border-bottom: 1px solid $grey;
      width: 100%;
      padding: 5px 15px;

      img {
        width: 80px;
        margin-right: 5px;
        vertical-align: bottom;
      }
      a{
        @include reset-a;
        font-size: 20px;
      }
  
      
    }
  
    ul {
      @include reset-list;
  
      display: flex;
      flex-direction: column;
  
      li {
        margin-left: 10px;
        padding: 15px;
        border-bottom: 1px solid $grey;
  
        a {
          @include color-a-nav-bar;
          font-size: 15px;
  
          &:hover {
            color:#30488f;
          }
        }
  
      }//fine li
    }//fine ul
  }
}// fine hamburger-menu


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
/* 
  mobile
*/
  
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  /* 
  tablet
  */

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
/* 
  in questo caso è stato usato con consapevolezza
*/

  .container {
    @include flex-center-center(column, flex-end, flex-start);
    height: 90px;

    .hamburger{
      width: 100%;
    }

    .header-left {
      margin-left: 20px;
    }

    .header-right{
     
      @include flex-center-center(row, space-between, flex-end);
      width: 100%;
      height: 35px;
      line-height: 35px;


      ul{
        display: inline-block;

        li{
          a{
            @include reset-a;
            font-weight: 600;
            margin: 0 15px;
            padding-bottom: 5px;
          }

          &:last-child{
   
            a{
              color: #3367D6;
              border-bottom: 3px solid #3367D6;
            }
          }

        }
      }
      
      > a{
        @include reset-a;
        font-weight: 600;
        margin-right: 35px;
      }
    }
  }

  .hamburger,
  .hamburger-menu{
    display: none !important;
  }
  
}

